.scroll-reveal {
  display: inline-block;
}

.scroll-reveal-text {
  display: inline;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  letter-spacing: inherit;
  font-family: inherit;
}

.word {
  display: inline-block;
  white-space: pre-wrap;
}
